* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(150, 67, 121);
  background: linear-gradient(
    90deg,
    rgba(150, 67, 121, 1) 0%,
    rgba(105, 81, 144, 1) 50%,
    rgba(12, 51, 97, 1) 100%
  );
}

body * {
  font-family: "Roboto", sans-serif;
}

#btn {
  color: #963273;
  text-align: end;
  margin-bottom: 20px;
}

#btn:hover {
  color: #695190;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container {
  display: flex;
}

.player {
  width: 380px;
  position: relative;
  background-color: #2a1c4e;
  padding: 40px 38px;
  border-radius: 18px;
}

.album.up-down {
  display: flex;
}

.cover-img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  border-radius: 10px;
}

.cover-img.up-down {
  width: 70px;
  height: 70px;
}

.pulse-img {
  animation: pulse 1.5s linear infinite;
}

.song-info {
  color: #e1e1e6;
  margin-top: 28px;
  text-align: center;
}

.song-info.up-down {
  margin-left: 28px;
  margin-top: 0px;
}

.music-name {
  font-size: 24px;
  margin-bottom: 9.6px;
}

.music-name.up-down {
  font-size: 20px;
}

.artist-name{
  font-size: 19px;
  opacity: 0.67;
}

.artist-name.up-down {
  font-size: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  color: #963273;
}

.controls.up-down {
  margin-top: 28px;
}

.repeat:hover {
  color: #695190;
}

.prev:hover {
  color: #695190;
}

.play-pouse:hover {
  color: #695190;
}

.next:hover {
  color: #695190;
}

.music-list:hover {
  color: #695190;
}

.progress-music {
  width: 100%;
  height: 6px;
  background-color: rgba(150, 67, 121, 0.3);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 28px;
}

.progress-music .progress-bar {
  width: 0%;
  height: inherit;
  position: relative;
  border-radius: inherit;
  background-color: #695190;
}

.progress-bar::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: inherit;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  background: inherit;
  opacity: 0;
  transition: opacity 0.2s ease;
}
  
.progress-music:hover .progress-bar::before {
  opacity: 1;
}

.time {
  font-size: 14px;
  color: #c4c4cc;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  margin-top: 9.6px;
}

.time.up-down {
  display: none;
}

.music-playlist {
  height: 585px;
  width: 300px;
  pointer-events: none;
  padding: 15px 20px;
  border-radius: 15px;
  background: #964379;
  transition: all 0.14s ease;
  display: none;
}

.music-playlist.up-down {
  height: 285px;
}

.music-playlist.show {
  pointer-events: auto;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: #211346;
}

.header .row i {
  cursor: default;
}

.header .row span {
  margin-left: 5px;
}

.music-playlist ul {
  margin: 28px 0;
  max-height: 460px;
  overflow-y: auto;
}

.music-playlist.up-down ul {
  max-height: 160px;
}

.music-playlist ul::-webkit-scrollbar {
  width: 0px;
}

.music-playlist ul li {
  list-style: none;
  padding: 15px;
  color: #c4c4cc;
  border-bottom: 1px solid rgba(196,196,204,0.25);
  cursor: pointer;
}

.music-playlist ul li:hover {
  background-color: rgba(42, 28, 78, 0.15);
  border-radius: 10px;
}

.music-playlist ul li:last-child {
  border-bottom: 0px;
}

.music-playlist ul li .row span {
  font-size: 19px;
}

#close:hover {
  color: #b4b4dd;
}

ul li .row p {
  opacity: 0.6;
  font-size: 14px;
}

ul li .audio-duration {
  font-size: 16px;
}

ul li.playing-now {
  color: #b4b4dd;
  background-color: rgba(42, 28, 78, 0.45);
  border-radius: 10px;
  pointer-events: none;
  padding: 20px;
}

.attribution {
  color: #2a1c4e;
  margin-top: 10px;
}

.attribution a {
  text-decoration: none;
  color: #b4b4dd;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
  body {
    flex-direction: column;
  }

  .player-container {
    display: unset;
  }

  .player {
    width: 330px;
  }

  .music-playlist {
    width: 330px;
    background-color: #96547f;
  }
}